
<div class="page-wrapper" [ngClass]="{'toggled' : getSideBarState()}" >
  <app-sidebar></app-sidebar>

    <main class="page-content">
      <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand"  (click)="toggleSidebar()">Ismael Almaraz Armeaga</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" 
          data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" 
          aria-label="Toggle navigation" (click)="toggleSidebar()">
          <span class="navbar-toggler-icon"></span>
        </button>

      </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="form-group col-md-12">
                  <router-outlet></router-outlet>
                </div>
            </div>
        </div>
        <div class="overlay" (click)="toggleSidebar()" [ngClass]="{'show' : !getSideBarState()}"></div>
    </main>
</div>
  